.DS_Store
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env

# Node
node_modules/
frontend/node_modules/

# Build artifacts
frontend/build/
dist/
coverage/

# Editor/OS
.vscode/
.idea/
Thumbs.db

# Misc
*.swp
*.swo
*.tmp